body
{
    margin-top: 10px;
    font-family: sans-serif;
    color: #353535;
    font: medium;
    background-color: rgb(247, 241, 156);
}


      table{
    width: 50%;
    align-items: center;
    border-width: 8px;
    border-color: #000;
    margin: 20px 400px;
}
h1{
    font-size: larger;
    font-family: sans-serif; 
    text-align: center;
    color: rgb(78, 3, 3);
}
table{
    border-collapse: collapse;
    text-align: center;
    background-color: bisque;
}


td, th {
    border: 2px solid #000000;
    text-align: left;
    padding: 4px;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]{
    width: 20%;
    
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form-action-buttons
{
    text-align: center;
}